### Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### Django ###
*.log
*.pot
*.pyc
__pycache__/

# pyenv
.python-version

# Environments
.env
.venv*
env/
venv/

.vscode/launch.json